
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       18px;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #003049;
  --header-color:    #003049;
  --body-color:      #000000;
  --aside-color:     #000000;
  --fig-cap-color:   #000000;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    Montserrat;
  --mono-font:       monospace;
  --body-font:       Montserrat;
  --navbar-font:     Montserrat;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   #003049;
  --body-size:       0.8rem;
  --body-color:      #000000;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       25px;
  --text-color:       white;
  --text-size:        20px;
  --hover-color:      #FFD700;
  --bkgd-color:       #003049;
}

.distill-site-footer {
  --text-color:       white;
  --text-size:        15px;
  --hover-color:      #FFD700;
  --bkgd-color:       #003049;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */


d-byline {
    contain: content;
    overflow: hidden;
    border-top: 1px solid #003049;
    font-size: 0.8rem;
    line-height: 1.8em;
    padding: 1.5rem 0;
    min-height: 1.8em;
}

d-article {
    contain: layout style;
    overflow-x: hidden;
    border-top: 1px solid #003049;
    padding-top: 2rem;
    color: #000000;
}

d-title {
    padding-top: 6rem;
}


.distill-site-footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
}

body {
  background-color: #efe8db;
}

.nav-dropdown {
  display: inline-block;
  position: relative;
}

.nav-dropdown .nav-dropbtn {
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 16px 10px;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  margin-top: 1px;
  z-index: 2;
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #003049;
  min-width: 200px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
  margin-top: 2px;
  white-space: nowrap;
  padding-top: 4px;
  padding-bottom: 4px;
}

.nav-dropdown-content hr {
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-dropdown-active {
  display: block;
}

.nav-dropdown-content a, .nav-dropdown-content .nav-dropdown-header {
  color: white;
  padding: 6px 24px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-dropdown-content .nav-dropdown-header {
  display: block;
  padding: 5px 24px;
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #999999;
  white-space: nowrap;
}

.nav-dropdown:hover .nav-dropbtn {
  color: white;
}

.nav-dropdown-content a:hover {
  background-color: #003049;
  color: black;
}

.algolia-autocomplete {
  display: inline-block;
  margin-left: 10px;
  vertical-align: sub;
  transform: translateY(-25%);
  background-color: white;
  color: black;
  padding: 6px;
  padding-top: 8px;
  padding-bottom: 0;
  border-radius: 6px;
  border: 1px #0F2E3D solid;
  width: 180px;
  }

.nav-search {
  font-size: medium;
}

.distill-site-header .logo img {
  max-height: 40px;
  width: auto;
  margin-top: 10px;
}

.distill-site-header .title {
  position: static;
  transform: translateY(-15%);
}

.distill-site-header .nav-right{
  position: static;
  top: 25%;
}

.nav-search {
  position: static;
  transform: translateY(0%);
}
